*{
    padding: 0;
    margin: 0;
    background-color: darkslategrey;
    box-sizing: border-box;
}

.container{
    max-width: 100vw;
    max-height: 100vw;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.bars-container{
    position: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.bar{
    width: 10px;
    background-color: aqua;
    margin: 0 2px;
    transition: height 0.5s ease-in-out;

}

.buttons-container{
    padding-top: 70px;
    max-width: 500px;
    max-height:100px;
    display: flex;
    margin-top: 500px;
}

.btn{
    height: 40px;
    width: 100px;
    margin: 5px;
    justify-content: space-between;
    border: 1px solid aqua;
    color: aqua;
    background-color:black;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    color: black;
    background-color: aqua;
}

